html {
    background : antiquewhite
}
*, *::after, *::before {
    margin: 10px; 
    padding: 10px;
  }

  .header {
    font-style: strong;
  }

  .cards-container {
    background-color: antiquewhite;
    height: max-content;
    width: max-content;
   
    display: flex;
    flex-direction: column;
    /* justify-items: space-around; */
    /* align-content: auto;  */
    /* align-items: center; */
    align-items: auto;
  
  }
  
  .card {
    background-color: white;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 30px;

    /* flex: 1; changes flex-shrink and flex-basis */
    /* width: 300px;
    height: 300px; */
    max-width: 300px;
    min-height: 300px;
  }
  .card-1 {
    /* justify-self: flex-end; */
    align-self: flex-start;
  }

  .card-2 {
      /* justify-self: flex-start; */
    align-self: flex-end;
  }
  
  .card-3 {
      /* justify-self: flex-end; */
    align-self: flex-start;
  }
  
  .card-4 {
    /* justify-self: flex-start; */
    align-self: flex-end;
  }
  .card-5 {
    /* justify-self: flex-start; */
    align-self: flex-start;
  }


.contact {
    align-items: baseline;
}
