html {
    background : antiquewhite
}
*, *::after, *::before {
    margin: 10px;
    padding: 10px;
  }
  
  .card-container {
    background-color: antiquewhite;
    height: 70%;
    width: 70%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    background-color: white;
    border-radius: 150px;
    text-align: center;
    /* font-weight: bold; */
    padding: 5px;

    /* flex: 1; changes flex-shrink and flex-basis */
    min-width: 300px;
    min-height: 300px;
    align-self: flex-start;
    
    
  }
  
  .card-1 {
    align-self: flex-end;
  }
  
  .card-2 {
    align-self: flex-start;
  }
  
  .card-3 {
    align-self: flex-end;
  }

  .card-4 {
    align-self: flex-end;
  }

.contact {
    align-items: baseline;
}
