html {
    background : antiquewhite
}
*, *::after, *::before {
    margin: auto;
    padding: 10px;
  }
  
  .card-container {
    background-color: antiquewhite;
    height: 1000px;
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .card {
    background-color: white;
    border-radius: 150px;
    text-align: center;
    /* font-weight: bold; */
    padding: 5px;

    /* flex: 1; changes flex-shrink and flex-basis */
    min-width: 300px;
    min-height: 300px;
    /* flex-grow: 50%; */
    
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start; */
  }
  
  /* .card-1 {
    background-color: lightsalmon;
  }
  
  .card-2 {
    background-color: khaki;
  }
  
  .card-3 {
    background-color: rgb(125, 151, 136);
  } */
/* .card {
    background:ivory;
    width: 250px;
    height: 400px;
    padding: 10px;
    border: dotted 3px;
    border-radius: 10px;
} */
